*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;

}
html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow: auto;
}
:root{
    --text-title--color:black;
    --hover--color:#f0f0f0;
    --text--color:black;
}
