.disabled-country { cursor: default; }

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
}

/* header */

.header{
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 56px;
    padding: 0 16px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    border: 1px solid #f1f1f1;
}
.header-logo{
    display: flex;
    align-items: center;
}
.header-logo-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height: 40px;
}
.header-logo-2{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-search{
    display: flex;
    align-items: center;
}
.header-sing-in{
    display: flex;
    align-items: center;
}
.header-logo-icon{
    font-size: 28px;
    color: red;
}
.header-search-1{
    display: flex;
    align-items: center;
    border:1px solid #f1f1f1;
    border-radius: 20px;
    background-color: #f0f0f0;
}
.header-search-3{
    cursor:pointer;
    display: flex;
    align-items: center;
    width:40px;
    height: 40px;
    border-radius: 40px;
    background-color: #F1f1f1;
    justify-content: center;
    margin-left: 20px;
}
.header-sing-in-1{
    position: relative;
    width:140px;
    height: 40px;
    display: flex;
    align-items: center;
    border: solid 0.1px red;
    justify-content: center;
    color: red !important;
    cursor:pointer;
}
.header-logo-icon-1{
    cursor: pointer;
    font-size:22px;
}
.header-logo-title{
    font-size: 20px;
}
.header-search-input{
    outline-color: #ccc;
    width:500px;
    height: 40px;
    border: solid 0.1px #ccc;
    outline: none;
    border:0px solid;
    background-color: #f0f0f0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header-search-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 40px;
    
}

.header-logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:var(--text-title--color) ;
    font-weight: 700;
}
.header-sing-in-menu{
    position: relative;
    cursor:pointer;
    width:60px ;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu-logo{
    font-size: 20px;
}
.header-sing-in-set{
    cursor: pointer;
    width:60px ;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-set-logo{
    font-size: 20px;
}
.header-sing-in-icon{
    font-size: 20px;
    margin: 0  10px 0 0;
}

/* sidebar */


.sidebar{
    overflow: auto;
    top: 56px;
    width: 240px;
    height: calc(100vh - 56px);
    position: fixed;
    border-right:solid 1px #f1f1f1 ;
}
.sidebar-list-item{
    display: flex;
    align-items: center;
    padding: 10px;
}
.sidebar-list-item-sign{
    display: flex;
    align-items: center;
    padding: 10px;
}
.sidebar-title{
    display: block;
    margin-left: 25px;
    font-size: 14px;
}
.sidebar-icon{
    margin-left: 17px;
    width: 20px;
}
.sidebar-list{
    padding: 10px 0;
    border-top: solid 1px #ccc;
}
.sidebar-category{
    margin-left: 25px;
    padding:  10px 0;
    font-size: 15px;
}
.sidebar-note{
    margin-left: 27px;
    font-size: 15px;
}
.sidebar-sign-in{
    margin-left: 25px;
}
.sidebar-list-item:hover{
    background-color: #ccc;
    cursor: pointer;
}
.sidebar-list-item-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:var(--text--color) ;
}
.sidebar-list-item-link-color{
    color: blue !important;
    display: flex;
    justify-content:center;
    align-items: center;
}
.sidebar-footer{
    font-size: 13px;
    margin-left: 25px;
}
.sidebar-list-item-mini{
    padding-left: 35px;
    background-color: #f1f1f1;
    display: none;
}
.sidebar-title-max{
    font-size: 20px;
    margin-left: 20px;
}
.sidebar-list-item-link-max{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text--color);
    border:solid 1px ;
    border-radius: 30px;
    padding: 10px 13px 10px 0;
}


/* content */

.category{
    height: 65px;
    display: flex;
    padding: 12px 0 12px 15px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    position: fixed;
    left: 240px;
    top:56px;
    z-index: 90px;
    width:100%;
    background-color: white;
    overflow:auto;
}
.category::-webkit-scrollbar {
    height: 0;
}
.content{
    margin-top: 56px;
    margin-left: 240px;
    margin-bottom: 100px;
}
.category-list-all{
    text-decoration: none;
    background-color: black;
    color: white    ;
    padding: 6px 13px;
    border-radius: 20px;
    font-size: 14px;
    margin: 0 10px;
}
.category-list{
    display: block;
    text-decoration: none;
    background-color: #f1f1f1;
    color: var(--text--color);
    padding: 6px 13px;
    border-radius: 20px;
    font-size: 14px;
    margin: 0 5px;
    border: solid 1px #999;
}
.category-list-title{
    height: 25px;
    line-height: 25px;
    width: max-content;
}

/* product */

.product-item{
    text-decoration: none;
    color: var(--text--color);
    width: 295px;
    height: 248px;
    margin:  0 8px 80px 8px;
    display: block;
}
.product{
    padding: 25px  15px;
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-video{
    width: 295px;
    height: 166px;
}
.product-content{
    display: flex;
}
.product-img-item{
    width: 35px;
    height: 35px;
    border-radius: 35px;
}
.product-content{
    margin: 15px 0;
}
.product-title-item{
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    overflow: hidden;
    height: 38.4px;
    line-height: 19.2px;
    display:-webkit-box;
    -webkit-box-orient:vertical ;
    -webkit-line-clamp:2;
    margin-bottom: 10px;
}
.product-title-name{
    font-size: 13px;
    margin-left: 15px;
    overflow: hidden;
    line-height: 19.2px;
    display:-webkit-box;
    -webkit-box-orient:vertical ;
    -webkit-line-clamp:2;
}
.product-video-item{
    width: 100%;
    height: 100%;
}

/* Content */


.title-content{
    font-size: 30px;
    margin-top: 80px;
}
.box-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 28px;
    color: white;
    height: 150px;
    margin-bottom: 30px;
}
.content-content{
    display: flex;
    margin-top: 30px;
    
    width: 100%;
}
.box-color1{
    background-color: orange;
}
.box-color2{
    background-color: blue;
}
.box-color3{
    background-color: green;
}
.box-color4{
    background-color: purple;
}
.box-color5{
    background-color: red;
}

 /* Content1 */

.content1{
    display: none;
}
.content2{
    display: none;
}

.content3{
    display: none;
}

.mail-tb{
    display: flex;
    align-items: center;
}
.ok-ok{
    overflow-y: scroll;
}
.ok{
    width: 500px;
    height: 700px;
    background-color: yellow;
}

.table-list4{
    display:-webkit-box;
    -webkit-box-orient:vertical ;
    -webkit-line-clamp:1 ;
    overflow: hidden;
    line-height: 36.2px;
}
.table-list1{
    width: 40px;
    display: flex;
    justify-content: center;
}

.table-list2{
    width: 40px;
}

.table-list3{
    max-width: 170px;
    width: 170px;
}
.table-list4{
    width: 740px;
}
.table-list5{
    width: 190px;
    text-align: right;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 0px 0px;
}
table.dataTable{
    width: unset;
}

.padding-i{
    margin: 0 10px;
}

.table-list5i{
    display: none;
    width: 100%;
}

.hover-tr:hover .table-list5i{
    display: block;
}
.hover-tr:hover .table-list5t{
    display: none;
}

.hover-tr{
    background-color: white !important;
}

.hover-tr:hover{
    background-color: #f0f0f0 !important;
}
.center-star{
    display: flex !important;
    justify-content: center;
}
.table-user1{
    width: 160px;
    padding: 5px !important;
    text-align: center;
}
.table-user2{
    width: 100px;
    padding: 5px !important;
    text-align: center;
}
.table-user3{
    width: 100px;
    padding: 5px !important;
    text-align: center;
}
.table-user4{
    width: 200px;
    padding: 5px !important;
    text-align: center;
}
.table-user5{
    width: 180px;
    padding: 5px !important;
    text-align: center;
}
.table-user7{
    width: 180px;
    padding: 5px !important;
    text-align: center;
}
.table-user6{
    width: 180px;
    padding: 5px !important;
    text-align: center;
}

.tb-list{
    position: absolute;
    z-index: 100;
    border: 1px solid;
    width: 400px;
    height: 400px;
    background-color: white;
    top:40px;
    right: 10px;
    overflow:auto;
    display: none;
    
}
.tb-list-item-link{
    
    height: 50px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid;
}

.name-item-list{
    font-weight: 700;
}

.tb-list-item-link1{
    font-weight: 700;
}

.tb-list-item-link2{
    line-height: 25px;
    display:-webkit-box;
    -webkit-box-orient:vertical ;
    -webkit-line-clamp:1 ;
    overflow: hidden;
    width: 300px;
}
.tb-list-item-link3{
    width: 100px;
    text-align: right;
    font-weight: 500;
}

.tb-list-item-box-link{
    display: flex;
    align-items: center;
}
.header-sing-in-menu:hover .tb-list{
    display: block;
}
.dataTables_wrapper {
    position: unset;
}

.header-sing-in-set:hover .tb-list2{
    display: block;
}

.header-sing-in-set{
    position: relative;
}

.tb-list2{
    display: none;
    z-index: 100;
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: white;
    top:40px;
    right: 10px;
    overflow:auto;
    border: 1px solid;
    border-radius: 20px;
}

.icons-ud{
    width: 100%;
    padding: 15px 0;
}

.tb-list2-2{
    display: flex;
    align-items: center;
}
.row {
    margin-left: 0px !important; 
    margin-right: 0px !important;
}

.admin-list{
    width: 140px;
    position: absolute;
    background-color: white;
    border: 1px solid red;
    text-align: center;
    top: 39px;
    z-index: 100;
    display: none;
}

.admin-list-item{
    height: 40px;
    line-height: 40px;
    border: 1px solid red;
    
}

.header-sing-in-1:hover .admin-list{
    display: block;
}

.editer-1{
    display: none;
    width: 600px;
    z-index: 90;
    position: fixed;
    bottom: 0;
    right: 20px;
}

.input-title-text{
    height: 30px;
    width: 600px;
    padding:  0 20px;
}
.input-email-text{
    height: 30px;
    width: 600px;
    padding:  0 20px;
}

.btn-width{
    height: 50px;
    background-color: red;
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 0 40px 0 0;
    border: 1px solid red;
}

.btn-x{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 0 40px 0 0;
    border: 1px solid red;
}

.btn-sub{
    width: 60px;
    height: 25px;
    margin: 0 10px;
}

.btn-del{
    width: 60px;
    height: 25px;
    margin: 0 10px;
}

.icon-x{
    color: white;
    font-size: 28px;
}
.content4{
    display: none;
}
.ct-box{
    margin-top: 55px;
    position: relative;
    border-radius: 20px;
    height: 500px;
    border: 1px solid red;
    background-color: red;
    color: white;
}

.title-item-nv{
    padding: 20px ;

}
.table-nv1{
    width: 450px;
    padding: 5px !important;
    text-align: center;
}
.table-nv2{
    width: 100px;
    padding: 5px !important;
    text-align: center;
}
.table-nv3{
    width: 150px;
    padding: 5px !important;
    text-align: center;
}
.table-nv4{
    width: 80px;
    padding: 5px !important;
    text-align: center;
}
.content-item-nv{
    
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
}

.btn-nv1{
    width: 130px;
    position: absolute;
    padding: 10px 20px;
    font-size: 18px;
    color: red;
    background-color: white;
    border-radius: 10px;
    border: white;
    bottom: 30px;
    right: 50%;
    text-align: center;
    margin: 0 10px;
}

.btn-nv2{
    width: 130px;
    position: absolute;
    padding: 10px 20px;
    font-size: 18px;
    color: red;
    background-color: white;
    border-radius: 10px;
    border: white;
    bottom: 30px;
    left: 50%;
    text-align: center;
    margin: 0 10px;
}

.mySlides1{
    width: 350px;
    height: 200px;
    background-color: red;
    color: white;
    border-radius: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mySlides2{
    width: 350px;
    height: 200px;
    background-color: green;
    color: white;
    border-radius: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mySlides3{
    width: 350px;
    height: 200px;
    background-color: orange;
    color: white;
    border-radius: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mySlides4{
    width: 350px;
    height: 200px;
    background-color: purple;
    color: white;
    border-radius: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slideshow-container{
    margin-top: 35px;
    width: 350px;
}
.content-slider{
    margin: 10px 0;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,.next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next1,
    .text {
        font-size: 11px
    }
}

.dataTables_wrapper{
    padding: 20px 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px #f1f1f1;
    border: 3px solid #f1f1f1;
}

.margin-char{
    margin-top: 100px;
}

.box-shadow-chart{
    box-shadow: 1px 1px 1px 1px #f1f1f1;
    border-radius: 20px ;
    border: 3px solid #f1f1f1;
}

.marginChar1{
    margin: 0px 0px 0px 60px;
}

.tb-list{
    box-shadow: 1px 1px 1px 1px #f1f1f1;
    border-radius: 5px ;
    border: 1px solid #000;
}

.tb-list-item-link{
    border: unset;
}

.tb-list-item-link:hover {
    background-color: #f1f1f1;
}
.tb-list2{
    box-shadow: 1px 1px 1px 1px #f1f1f1;
    border-radius: 20px ;
    border: 1px solid #000;
}