* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #202124;
}
.body-wrapper {
	display: grid;
	grid-template-columns: 270px 1fr 55px;
	grid-template-rows: auto calc(100vh - 64px);
	overflow: hidden;
}
/*btn*/
.btn {
    display: flex;
	align-items: center;
	justify-content: center;
	min-width: 40px;
	height: 40px;
	background: none;
	border-radius: 999px;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0 2px;
	z-index: 3;
}
.btn-icon {
	display: block;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 999px;
    opacity: 0.54;
}
.btn:hover {
	background-color: #3c404314;
}
.btn-icon-mn {
	height: 20px;
	width: 20px;
	border-radius: 0;
}
/*header*/
.header {
    display: grid;
	grid-template-columns: 256px 1fr min-content;
	justify-content: space-between;
	align-items: center;
	grid-column-gap: 12px;
	height: 64px;
	padding: 0.15rem;
	background-color: white;
	border-bottom: 1px solid #3c404314;
	grid-column: 1 / -1;
}
.header-left {	
	display: flex;
	align-items: center;
	margin: 0 6px;
	display: box;
}
#header-menu {
	width: 48px;
	height: 48px;
	margin: 4px;
}
.header-search {	
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 720px;
	background-color: #f1f3f4;
	border-radius: 8px;
	padding: 3px 8px;
}
.header-search:focus-within {
	background-color: white;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}
.btn[type="reset"] {
	display: none;
}
.header-search:focus-within .btn[type="reset"] {
	display: flex;
}
.header-search-input {
	display: block;
	font-size: calc(14 / 1rem);
	font-weight: 400;
	background-color: transparent;
	width: 100%;
	padding: 4px;
	border: none;
	outline: none;
}
.header-right {
    display: flex;
	align-items: center;
	margin: 0 6px;
}
.apps {
	position: absolute;
	width: 314px;
	height: 450px;
	background-color: whitesmoke;
	right: 8px;
	border-radius: 8px;
	z-index: 5;
	display: none;
}
.connect-apps {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}
.link-apps {
	border-radius: 4px;
	cursor: pointer;
}
.link-app-img {
	width: 96px;
	height: 96px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.img-link {
	width: 53px;
	height: 53px;
}
.link-text {
	justify-content: center;
	display: flex;
}
.link-apps:hover {
	background-color: #99bbfa;
}
#header-user {
	height: 40px;
	width: 40px;
}
.icon-user {
	height: 32px;
	width: 32px;
	opacity: 1;
}
/*left-slidebar*/
.left-sidebar {
	display: flex;
	flex-flow: column;
	grid-column: 1 / 2;
	grid-row: 2 / -1;
}
.left-sidebar-create {
	padding: 0 10px;
	margin: 16px 0;
	display: flex;
}
.sidebar-btn-create {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: calc(14 / 1rem);
	line-height: 1.5rem;
	background: white;
	min-width: 48px;
	height: 48px;
	padding: 5px;
	border: none;
	border-radius: 999px;
	cursor: pointer;
	user-select: none;
	overflow: hidden;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
		0 1px 3px 1px rgba(60, 64, 67, 0.149);
	flex: 0 1 145px;
}
.sidebar-btn-create:hover {
	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
	background-color: #fafafb;
}
.sidebar-btn-create-icon {
	margin-left: 6px;
}
.sidebar-btn-create-title {
	color: #3c4043;
	font-size: 0.875rem;
	font-weight: 500;
	margin-left: 8px;
	margin-right: 18px;
}
.labels {
	max-height: 270px;
	overflow-y: auto;
}
.category-item-list {
	display: flex;
	flex-flow: column;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 16px;
}
.category-item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	color: rgb(0, 0, 0);
	font-size: 0.875rem;
	line-height: 1.1rem;
	min-height: 32px;
	padding: 0 12px 0 26px;
	border-top-right-radius: 999px;
	border-bottom-right-radius: 999px;
	flex: 0;
}
.category-item:hover {
	background-color: #3c404314;
	cursor: pointer;
}
.category-item > div {
	display: flex;
	align-items: center;
}
.category-item-icon {
	width: 20px;
	margin-right: 18px;
	opacity: 0.54;
}
.category-item.active {
	color: red;
	font-weight: 600;
	background-color: #fce8e6;
}
.category-item.active:hover {
	background-color: #fce8e6;
}
.category-item.active .category-item-icon {
	fill: red;
	opacity: 1;
}
.category-title {
	color: #3c4043;
	font-size: 0.875rem;
	font-weight: 500;
	padding: 0 12px 0 26px;
	margin: 10px 0;
}
.hangouts .category-title {
	margin-top: 18px;
}
.connect {
	display: flex;
	flex-flow: column;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 16px;
	margin-bottom: 8px;
	border-top: 1px solid #e5e5e5;
}
.drag-btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-left: 12px;
	opacity: 0;
}
.left-sidebar-connect:hover * .drag-btn-container {
	opacity: 1;
}
.drag-btn {
	width: 32px;
	height: 4px;
	background-color: #3c4043;
	border: none;
	border-radius: 999px;
	margin-top: 5px;
	opacity: 0.18;
	cursor: row-resize;
}
.category-item-btn {
	font-size: 0.875rem;
	padding: 0 12px 0 26px;
}
.sidebar-btn-lg {
	width: 100%;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	background-color: #427fed;
	line-height: 1.4rem;
	vertical-align: baseline;
	border: none;
	border-radius: 2px;
	padding: 5px 16px;
	cursor: pointer;
}
.sidebar-btn-lg:hover {
	background-color: #6098ff;
}
.category-img {
	height: 72px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: calc(70% - 72px);
}
.connect-info {
	font-size: 0.75rem;
	text-align: center;
	margin-top: 14px;
	padding: 0 12px 0 26px;
	color: #3c4043;
	line-height: 1.2;
	margin-bottom: 8px;
}
.connect-link {
	display: block;
	color: #427fed;
	text-decoration: none;
}
/*main-body*/
.list-email {
	grid-column: 2 / 3;
	grid-row: 2 / -1;
	overflow: hidden;
}
.list-menu {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	width: auto;
	background-color: white;
	padding: 0 12px;
	border-bottom: 1px solid #e5e5e5;
	margin-right: 16px;
}
.list-menu-group {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}
.list-btn-group {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}
.btn-list-menu, .btn-list-gmail {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background: none;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 0 4px;
	position: relative;
}
.btn-icon-menu {
	height: 20px;
	width: 20px;
	border-radius: 0;
}
.list-menu-page {
	color: #5f6368;
	font-size: 0.75rem;
	margin-right: 12px;
	margin: 0 6px;
}
.page-select {
	position: absolute;
	background-color:rgb(253, 253, 253);
	width: 100%;
	height: 50px;
	margin-top: 90px;
	padding: 10px;
	display: none;
}
.page-select ul,li {
	list-style: none;
}
.option-item {
	padding:1px;
}
.option-item-dsb {
	color:#ccc;
	cursor:default;
}
.option-item-active:hover {
	background-color: #ccc;
}
.btn-list-gmail:hover .page-select {
	display: block;
}
.btn-list-gmail:hover {
	background-color: rgb(235, 235, 235);
}
.list-menu-page-btn {
	display: flex;
	align-items: center;
}
.list-menu-page-btn .btn-page {
	margin: 0;
}
.btn-menu {
	width: 18px;
	padding: 0;
	margin-left: -3px;
	outline: none;
}
.list-email-container {
	display: flex;
	flex-flow: column;
}
.list-category {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	height: 56px;
	color: #5f6368;
	font-weight: 500;
	font-size: 0.875rem;
	white-space: nowrap;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	margin-right: 16px;
}
.list-category-title {
	margin-right: 18px;
	padding: 0;
}
.list-category-icon {
	margin-left: 16px;
	margin-right: 12px;
}
.list-category-item:hover {
	background-color: #3c404314;
	color: #202124;
}
.list-category-item-active {
	color: #d93025;
	border-bottom: 4px solid red;
}
.list-category-icon-active {
	fill: red;
}
.list-category-item-blue {
	color: #5f6368;
	border-bottom: 4px solid white;
}
.list-category-icon-blue {
	fill: blue;
}
.list-category-item-green {
	color: #5f6368;
	border-bottom: 4px solid white;
}
.list-category-icon-green {
	fill: green;
}
.list-category-item {
	position: relative;
	display: flex;
	align-items: center;
	height: 56px;
	cursor: pointer;
	flex: 0 1 251px;
}
