* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #202124;
}
.body-wrapper {
	display: grid;
	grid-template-columns: 270px 1fr 55px;
	grid-template-rows: auto calc(100vh - 64px);
	overflow: hidden;
}
/*btn*/
.btn {
    display: flex;
	align-items: center;
	justify-content: center;
	min-width: 40px;
	height: 40px;
	background: none;
	border-radius: 999px;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0 2px;
	z-index: 3;
}
.btn-icon {
	display: block;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 999px;
}
.btn:hover {
	background-color: #3c404314;
}
.btn-icon-menu {
	height: 20px;
	width: 20px;
	border-radius: 0;
}
/*header*/
.header {
    display: grid;
	grid-template-columns: 256px 1fr min-content;
	justify-content: space-between;
	align-items: center;
	grid-column-gap: 12px;
	height: 64px;
	padding: 0.15rem;
	background-color: white;
	border-bottom: 1px solid #3c404314;
	grid-column: 1 / -1;
}
.header-left {	
	display: flex;
	align-items: center;
	margin: 0 6px;
	display: box;
}
#header-menu {
	width: 48px;
	height: 48px;
	margin: 4px;
}
.header-search {	
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 720px;
	background-color: #f1f3f4;
	border-radius: 8px;
	padding: 3px 8px;
}
.header-search:focus-within {
	background-color: white;
	border: 1px solid;
}
.btn[type="reset"] {
	display: none;
}
.header-search:focus-within .btn[type="reset"] {
	display: flex;
}
.header-search-input {
	display: block;
	font-size: calc(14 / 1rem);
	font-weight: 400;
	background-color: transparent;
	width: 100%;
	padding: 4px;
	border: none;
	outline: none;
}
.header-right {
    display: flex;
	align-items: center;
	margin: 0 6px;
}
.apps {
	position: absolute;
	width: 314px;
	height: 400px;
	background-color: whitesmoke;
	right: 10px;
	border-radius: 8px;
	z-index: 5;
	display: none;
	margin-top: 10px;
}
.connect-apps {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}
.link-apps {
	border-radius: 4px;
	cursor: pointer;
}
.link-app-img {
	width: 96px;
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.img-link {
	width: 53px;
	height: 53px;
}
.link-text {
	justify-content: center;
	display: flex;
}
.link-apps:hover {
	background-color: #99bbfa;
}
#header-user {
	height: 40px;
	width: 40px;
}
.icon-user {
	height: 32px;
	width: 32px;
	opacity: 1;
}
/*left-slidebar*/
.left-sidebar {
	display: flex;
	flex-flow: column;
	grid-column: 1 / 2;
	grid-row: 2 / -1;
}
.left-sidebar-create {
	padding: 0 10px;
	margin: 16px 0;
	display: flex;
}
.sidebar-btn-create {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: calc(14 / 1rem);
	line-height: 1.5rem;
	background: white;
	min-width: 48px;
	height: 48px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 999px;
	cursor: pointer;
	user-select: none;
	overflow: hidden;
	flex: 0 1 145px;
}
.sidebar-btn-create:hover {
	border: 1px solid rgb(136, 136, 136);
	background-color: #fafafb;
}
.sidebar-btn-create-icon {
	margin-left: 6px;
}
.sidebar-btn-create-title {
	color: #3c4043;
	font-size: 0.875rem;
	margin-left: 8px;
	margin-right: 18px;
}
.labels {
	max-height: 270px;
	overflow-y: auto;
}
.category-item-list {
	display: flex;
	flex-flow: column;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 16px;
}
.category-item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	color: rgb(0, 0, 0);
	font-size: 0.875rem;
	line-height: 1.1rem;
	min-height: 32px;
	padding: 0 12px 0 26px;
	border-top-right-radius: 999px;
	border-bottom-right-radius: 999px;
	flex: 0;
}
.category-item:hover {
	background-color: #3c404314;
	cursor: pointer;
}
.category-item > div {
	display: flex;
	align-items: center;
}
.category-item-icon {
	width: 20px;
	margin-right: 18px;
	opacity: 0.54;
}
.category-item.active {
	color: red;
	background-color: #fce8e6;
}
.category-item.active:hover {
	background-color: #fce8e6;
}
.category-item.active .category-item-icon {
	fill: red;
	opacity: 1;
}
.category-title {
	color: #3c4043;
	font-size: 0.875rem;
	padding: 0 12px 0 26px;
	margin: 10px 0;
}
.hangouts .category-title {
	margin-top: 18px;
}
.connect {
	display: flex;
	flex-flow: column;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 16px;
	margin-bottom: 8px;
	border-top: 1px solid #e5e5e5;
}
.drag-btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-left: 12px;
	opacity: 0;
}
.left-sidebar-connect:hover * .drag-btn-container {
	opacity: 1;
}
.drag-btn {
	width: 32px;
	height: 4px;
	background-color: #3c4043;
	border: none;
	border-radius: 999px;
	margin-top: 5px;
	opacity: 0.18;
	cursor: row-resize;
}
.category-item-btn {
	font-size: 0.875rem;
	padding: 0 12px 0 26px;
}
.sidebar-btn-lg {
	width: 100%;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	background-color: #427fed;
	line-height: 1.4rem;
	vertical-align: baseline;
	border: none;
	border-radius: 2px;
	padding: 5px 16px;
	cursor: pointer;
}
.sidebar-btn-lg:hover {
	background-color: #6098ff;
}
.category-img {
	height: 72px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: calc(70% - 72px);
}
.connect-info {
	font-size: 0.75rem;
	text-align: center;
	margin-top: 14px;
	padding: 0 12px 0 26px;
	color: #3c4043;
	line-height: 1.2;
	margin-bottom: 8px;
}
.connect-link {
	display: block;
	color: #427fed;
	text-decoration: none;
}
/*main-body*/
.list-email {
	grid-column: 2 / 3;
	grid-row: 2 / -1;
	overflow: hidden;
	height: 100%;
}
.list-menu {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	width: auto;
	background-color: white;
	padding: 0 12px;
	border-bottom: 1px solid #e5e5e5;
	margin-right: 16px;
}
.list-menu-group {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}
.list-btn-group {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}
.tick-mail {
	position: absolute;
	background-color: whitesmoke;
	width: 240px;
	height: 80px;
	top: 95px;
    left: 390px;
	display: none;
	border-radius: 5px;
}
.tick-mail-select {
	width: 100%;
	height: 100%;
}
.tick-mail-select-item {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.tick-mail-select-item-disable {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-top: 1px solid #a5a5a5;
}
.tick-mail-option {
	width: 100%;
	height: 50%;
	padding-top: 2px;	
}
.tick-mail-option:hover {
	background-color: rgb(170, 170, 170);
}
.tick-mail-option-disable {
	width: 100%;
	height: 50%;
	padding-top: 2px;
	padding-right: 17px;
	cursor: default;
	color: rgb(192, 192, 192);
}
.btn-list-menu, .btn-list-gmail {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background: none;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 0 4px;
	position: relative;
	opacity: 0.54;
}
.list-menu-page {
	color: #454545;
	font-size: 0.75rem;
	margin-right: 12px;
	margin: 0 6px;
}
.page-select {
	position: absolute;
	background-color:rgb(253, 253, 253);
	width: 100%;
	height: 50px;
	margin-top: 90px;
	padding: 10px;
	display: none;
}
.page-select ul,li {
	list-style: none;
}
.option-item {
	padding:1px;
}
.option-item-dsb {
	color:#ccc;
	cursor:default;
	padding:1px;
}
.option-item:hover {
	background-color: #ccc;
	width: 100%;
}
.option-item .option-item-dsb:hover {
	background-color:rgb(253, 253, 253);
	cursor:default;
}
.btn-list-gmail:hover .page-select {
	display: block;
}
.btn-list-gmail:hover {
	background-color: rgb(235, 235, 235);
}
.list-menu-page-btn {
	display: flex;
	align-items: center;
}
.list-menu-page-btn .btn-page {
	margin: 0;
}
.btn-menu {
	width: 18px;
	padding: 0;
	margin-left: -3px;
	outline: none;
}
.list-email-container {
	display: flex;
	flex-flow: column;
}
.list-category {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	height: 56px;
	color: #5f6368;
	font-size: 0.875rem;
	white-space: nowrap;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	margin-right: 16px;
}
.list-category-title {
	margin-right: 18px;
	padding: 0;
}
.list-category-icon {
	margin-left: 16px;
	margin-right: 12px;
}
.list-category-item:hover {
	background-color: #3c404314;
	color: #202124;
}
.list-category-item-active {
	color: #d93025;
	border-bottom: 4px solid red;
}
.list-category-icon-active {
	fill: red;
}
.list-category-item-blue {
	color: #5f6368;
	border-bottom: 4px solid white;
}
.list-category-icon-blue {
	fill: blue;
}
.list-category-item-green {
	color: #5f6368;
	border-bottom: 4px solid white;
}
.list-category-icon-green {
	fill: green;
}
.list-category-item {
	position: relative;
	display: flex;
	align-items: center;
	height: 56px;
	cursor: pointer;
	flex: 0 1 251px;
}
/*email*/
.content {
	display: block;
	margin-bottom: 16px;
	overflow: hidden;
	overflow-y: scroll;
	height: 600px;
}
.content-two {
	display: none;
	margin-bottom: 16px;
	overflow: hidden;
	overflow-y: scroll;
	height: 600px;
}
.content-three {
	display: none;
	margin-bottom: 16px;
	overflow: hidden;
	overflow-y: scroll;
	height: 600px;
}
.mail {
	padding-bottom: 8px;
}
.inbox-message-item {
	position: relative;
	display: flex;
	flex-flow: row;
	align-items: center;
	font-size: 0.875rem;
	height: 40px;
	padding-right: 8px;
	padding-left: 4px;
}
.inbox-message-item:hover {
	cursor: pointer;
	border: 1px solid #ccc;
	z-index: 1;
}
.inbox-message-item-options {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 40px;
	background-color: transparent;
	right: 0;
	top: 0;
	z-index: 2;
}
.inbox-message-item-options * {
	margin: 0;
}
.message-default {
	display: flex;
	align-items: center;
	color: #5f6368;
	white-space: nowrap;
	overflow: hidden;
	overflow-x: hidden;
}
.message-content {
	padding: 2px 2px 2px 0;
	line-height: 1.1;
}
.gap.message-content {
	display: block;
	background: transparent;
	min-width: 70px;
	flex: 0 70px;
}
.message-sender {
	color: #202124;
	padding-right: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 0 0 200px;
}
.message-subject {
	color: #202124;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 0 0 auto;
}
.message-seperator {
	vertical-align: middle;
	line-height: 1;
	padding: 0 6px;
	width: 20px;
	margin-left: -2px;
}
.message-body {
	color: #5f6368;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1 1 auto;
}
.message-date {
	position: relative;
	color: #5f6368;
	height: 40px;
	right: 0;
	top: 0;
	font-size: 0.75rem;
	text-align: right;
	letter-spacing: 0.15px;
	margin-right: 8px;
	z-index: 1;
	flex: 0 56px;
}
.message-default-unread {
	background-color: #f1f3f4;
}
.message-default .unread {
	color: #202124;
}
.message-default .read {
	color: #5f6368;
}
.message-btn-icon {
	opacity: 0.22;
}
.message-group-hidden {
	display: none;
	transition: opacity 150ms ease;
}
.inbox-message-item:hover .message-btn-icon {
	opacity: 0.55;
}
.inbox-message-item:hover .message-group-hidden {
	display: block;
	opacity: 0.54;
}
.inbox-message-item:hover .gap.message-content,
.inbox-message-item:hover .message-date {
	display: none;
}
.center-text {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*footer*/
.footer-container {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 12px;
	margin: 16px 0;
}
.footer-item {
	display: flex;
	align-items: center;
	color: #5f6368;
	font-size: 0.875rem;
	padding: 0;
	margin: 0;
	text-decoration: none;
	letter-spacing: 0.2px;
	flex: 1 1;
}
.footer-item:first-child,
.footer-item:last-child {
	flex: 1 0 30%;
}
.footer-item:first-child {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}
.footer-item:first-child > a {
	display: flex;
	align-items: center;
	text-align: left;
}
.footer-item:nth-child(2) {
	text-align: center;
	display: flex;
	justify-content: center;
	flex: 1 1 100%;
}
.footer-item:nth-child(2) * {
	padding: 0 4px;
}
.footer-item:last-child {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	text-align: right;
}
.footer-group {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	margin-top: 4px;
}
.footer-link {
	color: #5f6368;
	text-decoration: none;
	font-size: 0.75rem;
}
.footer-link:hover {
	text-decoration: underline;
}
.footer-text-sm {
	font-size: 0.75rem;
}
/*new-email*/
.email-form {
	width: 580px;
	height: 510px;
	right: 70px;
	bottom: 0;
	position: absolute;
	z-index: 5;
	border-radius: 5px;
	border-left: 1px solid rgb(121, 121, 121);
	display: none;
}
.header-form {
	width: 100%;
	height: 40px;
	background-color:#202124;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
}
.menu-form {
	display: flex;
	align-items: center;
}
.title-form {
	width: 490px;
	height: 100%;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	align-items: center;
}
.title-form span {
	color: white;
}
.icon-menu-form {
	width: 90px;
	height: 100%;
	display: flex;
	align-items: center;
	padding-right:8px;
}
.icon-form {
	width: 26px;
	height: 24px;
	color: white;	
}
.icon-form:hover {
	background-color: rgb(126, 126, 126);
}
.body-form {
	background-color: white;
	width: 100%;
	height: 470px;
}
.body-new-email {
	padding: 0 15px;
}
.new-email-content {
	
	height: 470px;
}
.mail-send {
	height: 37px;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
}
.user-send {
	width: 448px;
	border: none;
	outline: none;
	margin-right: 5px;
}
.link-user{
	cursor: pointer;
}
.link-user:hover {
	text-decoration: underline;
}
.title-mail-send {
	height: 37px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
}
.title-send {
	width: 100%;
	outline: none;
	border: none;
}
.content-mail-send {
	width: 100%;
	height: 396px;
	padding-top: 15px;
}
.content-send {
	width: 100%;
	height: 321px;
	border: none;
	outline: none;
	resize: none;
}
.group-btn-select {
	width: 100%;
	height: 56px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.btn-option {
	height: 36px;
	width:100%;
	align-items: center;
	display: flex;
}
.btn-send {
	width: 70%;
}
.send {
	width: 97px;
	height: 36px;
	border: none;
	border-radius: 3px;
	background-color: rgb(16, 120, 255);
	cursor: pointer;	
}
.send:hover {
	background-color: rgb(68, 149, 255);;
}
.icon-option {
	display: flex;
	width: 30%;
	height: 100%;
	padding-left: 120px;
}
.btn-io {
	padding-top: 8px;
	cursor: pointer;
}
.btn-io-2 {
	padding-top: 6px;
	cursor: pointer;
}
/*right*/
.app-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-left: 1px solid #e5e5e5;
	grid-column: 3 / 4;
	grid-row: 2 / -1;
}
.app-item {
	margin-bottom: 16px;
}
.app-group > :nth-last-child(3) {
	margin-bottom: 0;
}
.app-group > :nth-last-child(1) {
	margin-top: 6px;
}
.seperator-right:hover {
	background-color: white;
	cursor: default;
}
